
/* * {
    outline: 2px solid red;
} */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    background-color: rgb(127, 117, 202);
}

.nav {
    background-image: linear-gradient(to bottom right, rgb(75, 58, 203),rgb(86, 79, 183));
    display: flex;
    align-items: center;
    column-gap: 32px;
    padding-right: 8px;
    row-gap: 2px;
    box-shadow: 10px 10px 100px black;
    border: 1px;
    border-radius: 50px;
}

.navitem.logo {
    display: block;
    margin-right: auto;
    font-weight: 900;
    font-size: 30px;
    border-style: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 0px;
    padding-left: 32px;
    padding-right: 8px;
    text-shadow: 2px 2px 5px black;
}

.navitem {
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: 3px;
    border-color: rgba(140, 140, 255, 0.534);
    border-style: groove;
    border-radius: 25px;
}

.nav :hover {
    background-color: rgb(75, 58, 203);
}

@media all and (max-width: 750px) {
    .nav {
      flex-wrap: wrap;
      gap: 0;
      justify-content: center;
      margin: 0;
      padding: 8px;
    }
  }


.section.one {
    box-sizing: border-box;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    padding: 100px;
    column-gap: 16px;
    border: 1px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, rgb(75, 58, 203),rgb(86, 79, 183));
    color: aliceblue;
    box-shadow: 10px 10px 100px black;
    text-shadow: 2px 2px 25px black;
}

.section-one-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.section-one-text {
    font-size: large;
    color: rgb(191, 232, 255);
    margin-bottom: 32px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: 3px;
    border-color: rgba(140, 140, 255, 0.534);
    border-style: groove;
    border-radius: 25px;
    /* background-color: rgb(86, 79, 183);
    color: aliceblue; */
}

.section-one-image {
    display: flex;
    flex-basis: auto;
    height: 300px;
}

img {
    border-radius: 8px;
}