
/* * {
    outline: 2px solid red;
} */

body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;

    background-color: rgb(143, 140, 199);
}

.nav {
    background-color: rgb(86, 79, 183);
    display: flex;
    align-items: center;
    column-gap: 32px;
    padding-right: 10px;
    flex-wrap: wrap;

    border: 1px;
    border-radius: 25px;
}

.navitem.logo {
    display: block;
    margin-right: auto;
    font-weight: 900;
    font-size: 32px;
    border-style: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 0px;
    padding-left: 32px;
    padding-right: 32px;
}

.navitem {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: 3px;
    border-color: rgba(140, 140, 255, 0.534);
    border-style: groove;
    border-radius: 25px;
}

.nav :hover {
    background-color: rgb(75, 58, 203);
}