
/* * {
    outline: 2px solid red;
} */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    background-color: rgb(59, 54, 112);
    max-height: 3000px;
}

.nav {
    background-image: linear-gradient(to bottom right, rgb(75, 58, 203),rgb(86, 79, 183));
    display: flex;
    align-items: center;
    column-gap: 32px;
    padding-right: 8px;
    row-gap: 2px;
    box-shadow: 10px 10px 100px black;
    border: 1px;
    border-radius: 50px;
    position: sticky;
    top: 16px;
    overflow: hidden;
}

.navitem.logo {
    display: block;
    margin-right: auto;
    font-weight: 900;
    font-size: 30px;
    border-style: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 0px;
    padding-left: 32px;
    padding-right: 8px;
    text-shadow: 2px 2px 5px black;
}

.navitem {
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: 3px;
    border-color: rgba(140, 140, 255, 0.534);
    border-style: groove;
    border-radius: 25px;
}

.nav :hover {
    background-color: rgb(75, 58, 203);
}

@media all and (max-width: 750px) {
    .nav {
      flex-wrap: wrap;
      gap: 0;
      justify-content: center;
      margin: 0;
      padding: 8px;
    }
  }

.section {
    box-sizing: border-box;
    margin-top: 16px;
    display: flex;
    min-height: 250px;
    border: 1px;
    border-radius: 30px;
    box-shadow: 10px 10px 100px black;
    text-shadow: 2px 2px 25px black;
}

.section.one {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    padding: 100px;
    column-gap: 16px;
    border: 1px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, rgb(75, 58, 203),rgb(86, 79, 183));
    color: aliceblue;
    box-shadow: 10px 10px 100px black;
    text-shadow: 2px 2px 25px black;
}

.section-one-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.section-one-text {
    font-size: large;
    color: rgb(191, 232, 255);
    margin-bottom: 32px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: 3px;
    border-color: rgba(255, 255, 255, 0.534);
    border-style: groove;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.206);
    color: aliceblue;
    font-size: larger;
    display: flex;
    flex-shrink: 0;
}

.section-one-image {
    display: flex;
    flex-basis: auto;
    height: 300px;
}

img {
    border-radius: 8px;
}


.section.two {
    background-image: linear-gradient(to bottom right,rgb(53, 53, 53), rgb(25, 25, 25));
    color: aliceblue;
    padding: 16px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.section-two-container {
    padding-left: 32px;
    padding-right: 32px
}

.boxspace {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
}

.item {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 4px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 20px;
    border-radius: 16px;
}

.section.three {
    background-image: linear-gradient(to bottom right, rgb(255, 196, 0),rgb(255, 0, 0));
    color: aliceblue;
    padding: 16px 48px 32px 48px;
    flex-direction: column;
    align-items: center;
}

.boxspace-three {
    display: flex;
    padding-top: 16px;
    justify-content: center;
}

.info {
    font-size: 16px;
    text-align: center;
    flex-direction: column;
}

.disney-image {
    width: auto;
    height: 200px;
}

@media all and (max-width: 750px) {
    .boxspace-three, .section.one, .section-five-container {
      flex-wrap: wrap; 
      flex-direction: column;
      gap: 8px;
    }
}


.section.four {
    background-image: linear-gradient(to bottom right, rgb(170, 170, 170),rgb(61, 61, 61));
    color: aliceblue;
    padding: 100px;
    justify-content: center;
}


.section-four-header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: 100;
  }

.section-four-text {
    display: flex;
    justify-content: flex-end;
    font-size: larger;
    font-weight: 500;
    color: rgb(25, 25, 25);
}


.section.five {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(175, 175, 175));
    color: rgb(25, 25, 25);
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.section-five-container {
    display: flex;
    flex: 1;
    background-color: rgb(0, 110, 255);
    border-radius: 16px;
}

.section-five-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    color: aliceblue;
}

.section-five-header {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-five-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-five-item-2 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.footer {
    background-image: linear-gradient(to bottom right, rgb(0, 153, 87),rgb(38, 155, 85));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    box-shadow: 10px 10px 100px black;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 10px 10px 100px black;
    text-shadow: 2px 2px 25px black;
    color: aliceblue;
}